<!-- 
	This is the standard widget container to be used application wide.
	Update the .widget_container h4 span to the proper glyphicon class to represent your content
	or remove it as applicable.
-->

<div class="widget_container">
    <div>
        <h4><span class="glyphicon glyphicon-refresh"></span> &nbsp;<span data-bind="text: username"></span></h4>
    </div>
    <div class="widget_content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper at arcu ac laoreet. Suspendisse potenti. Proin hendrerit imperdiet mauris nec luctus. Nunc ac quam vitae dui tincidunt vulputate. Nullam non cursus nunc, id mollis lectus. Integer auctor iaculis nibh, eget feugiat augue pharetra vel. Integer ornare ligula sagittis nibh semper faucibus. Nulla venenatis convallis erat ut consequat. Suspendisse id dolor sit amet eros viverra vehicula. Curabitur pellentesque lacus elit, a feugiat purus venenatis sollicitudin. Fusce tempor magna at libero lobortis gravida.</p>
    </div>
</div>
