<!--
    In general, usage of tables can be implemented by using the grid module.
    The template example below should be used in situations where the additional functionality
    of the grid is not needed/applicable, where a simple table layout is 
    required to display static data.
-->

<table class="ingrid table-striped">
    <thead>
        <tr>
            <th scope="col">Column Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span>Table Cell Content</span></td> 
        </tr>
    </tbody>
    <!-- If applicable, here utilize tfoot (do not copy/paste this comment) -->
    <tfoot>
        <tr>
            <td><span>Table Footer Cel Content</span></td>
        </tr>
    </tfoot>
</table>
