<p>
    <span class="glyphicon glyphicon-user"></span> Hello <span data-bind="text: username"></span>! <br />
    <% if ((app.user.get('authenticationType') != 'DirectoryService') || ((app.user.get('authenticationType') == 'DirectoryService') && app.user.get('userName').toLowerCase() == 'administrator')) { %>
    <span class="link-plain js-settings"><span class="glyphicon glyphicon-cog"></span>Settings</span>
    <% } %>
    &nbsp;&nbsp;&nbsp;&nbsp;<span class="link-plain js-logout"><span class="glyphicon glyphicon-log-out"></span> Logout</span>    
</p>
