<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-bind="text: title"></h4>
            </div>
            <div class="modal-body">
                <div data-bind="html: content"></div>
                <div class="content"></div>
            </div>
            <div class="modal-footer">
                <!-- ko ifnot: confirmBox -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close/Cancel</button>
                <!-- /ko -->
                <span class="modal-dynamic-buttons">
                    <!-- ko foreach: buttons -->
                    <button type="button" data-bind="text: name, attr: {class: classes, 'data-name' : name, 'data-loading-text': loadingtext}"></button>
                    <!-- /ko -->
                </span>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
