@import url("less/variables.less");

/*
html,
body, 
#main, 
#main > div {
     height: 100%; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

html { min-height: 100%; position: relative;}

body{ background: white; }
#peripheral {
    height: 0px !important;
}

.content.grid_container{
    padding: 0 10px;
}

.full-container {
    width: 100%;
    padding: 0 15px 0 15px;
}

.grid_container > div { padding: 0 15px; }

*/


ul.case_list {
    text-align: left;
    list-style-type: none;

    ul.list-group {
        margin-top: 15px;
    }

    > li {
        width: 100%;
        min-height: 100px;
    }

}

.jumbotron {
   margin-bottom: 0px;
    background-image: url(../img/slider/slider01.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat; 
}

.zone1 {
    min-height: 51px;
}