<div id="content">
	<section class="updatable" id="team">
		
<!-- begin Team -->
<article class="team">
<div class="container">
	<header><h2>Our Team</h2></header>
	
	<div class="row">
		<div class="title">
			<div class="centered"><div><h2>We Are Puppy Enthusiasts!</h2></div></div>
			<p>We're a team full of puppies lovers who eat sleep and drink adorable puppies on a daily basis. Meet are fantastic team below!</p>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img alt="//" src="http://placehold.it/375x375">
				<div class="caption">
					<h3>Daniel Matthews</h3>
					<span>Owner/Operator</span>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quos, error, enim iure magni dignissimos eaque adipisci voluptatem delectus consequatur dis quisquam doloribus vitae consectetur. Magnam ab sequi nostrum.<br>
					</p><hr>
					<a href="#"><i class="icon-twitter"></i> Follow me</a><p></p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img alt="//" src="http://placehold.it/375x375">
				<div class="caption">
					<h3>Lam Nguyen</h3>
					<span>Director of Software</span>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quos, error, enim iure magni dignissimos eaque adipisci vconsequatur distinctio sequi quisquam doloribus vitae consectetur. Magnam ab sequi nostrum.<br>
					</p><hr>
					<a href="#"><i class="icon-twitter"></i> Follow me</a><p></p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img alt="//" src="http://placehold.it/375x375">
				<div class="caption">
					<h3>Benjamin Hron</h3>
					<span>Software Manager</span>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quos, error, enim iure magni dignissimos eaque adipisci vouatur distinctio sequi quisquam doloribus vitae consectetur. Magnam ab sequi nostrum. <br>
					</p><hr>
					<a href="#"><i class="icon-twitter"></i> Follow me</a><p></p>
					
				</div>
			</div>
		</div>
        
        <div class="col-sm-6 col-md-3">
			<div class="thumbnail">
				<img alt="//" src="http://placehold.it/375x375">
				<div class="caption">
					<h3>Chris Love</h3>
					<span>UI / UX Software Engineer</span>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, quos, error, enim iure magni dignissimos eaque adipisci vouatur distinctio sequi quisquam doloribus vitae consectetur. Magnam ab sequi nostrum. <br>
					</p><hr>
					<a href="#"><i class="icon-twitter"></i> Follow me</a><p></p>
					
				</div>
			</div>
		</div>
	</div>
</div>
</article>
<article class="team">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Our Humble Shop</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, dicta, rem quam iusto laudantium animi laboriosam officia labore reprehenderit neque ratione omnis sequi repudiandae accusamus commodi quas esse ipsum quidem.</p>
		</div>
		<div class="col-md-6">		
			<a class="social pinterest pull-right" href="#">
				<i class="icon-pinterest"></i>
			</a>
			<a class="social linkedin pull-right" href="#">
				<i class="icon-linkedin"></i>
			</a>
			<a class="social gplus pull-right" href="#">
				<i class="icon-gplus"></i>
			</a>
			<a class="social twitter pull-right" href="#">
				<i class="icon-twitter"></i>
			</a>
			<a class="social facebook pull-right" href="#">
				<i class="icon-facebook"></i>
			</a>
		</div>
	</div> 
</div>    
</article>
<!-- end Team -->

</section>

</div>