<section class="updatable" id="blog">

	<article>
		<div class="container">

			<div class="row">
				<div class="col-xs-12"><h2 class="header">Blog Categoy: Puppies</h2></div>
			</div>

			<div class="row post">
				<div class="col-md-9">

					<!-- Post 01 -->
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2><a href="single-post.html">How to Train Your Puppy</a></h2></div></div>
							<div class="clearfix"></div>
							<p>Agust 28, 2013 <i class="icon-dot"></i> Posted by Storeowner <i class="icon-dot"></i> 1 Comment</p>
						</div>	

						<div class="post-img"><img alt="//" src="img/blog/post01.jpg"></div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, laboriosam, quae, eos illo amet ex hic ad voluptates eius aspernatur quasi aut nostrum unde accusantium repudiandae omnis enim vero adipisci? Distinctio, laboriosam, <strong class="highlight">quae eos illo amet</strong> ex hic ad voluptates eius aspernatur quasi aut nostrum unde accusantium repudiandae omnis enim vero adipisci?</p>
						<a class="btn btn-default" href="single-post.html">Read More</a>
					</div>
					<!-- end Post 01 -->

					<!-- Post 02 -->
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2><a href="single-post.html">Ear Cleaning Tutorial</a></h2></div></div>
							<div class="clearfix"></div>
							<p>Agust 28, 2013 <i class="icon-dot"></i> Posted by Storeowner <i class="icon-dot"></i> 1 Comment</p>
						</div>	

						<div class="post-img"><img alt="//" src="img/blog/post02.jpg"></div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, laboriosam, quae, eos illo amet ex hic ad voluptates eius aspernatur quasi aut nostrum unde accusantium repudiandae omnis enim vero adipisci? Distinctio, laboriosam, quae, eos illo amet ex hic ad voluptates eius aspernatur quasi aut nostrum unde accusantium repudiandae omnis enim vero adipisci?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, odio earum quae maxime fugit quod facere consequatur veniam. Commodi, modi odio totam a doloremque nostrum recusandae nam alias harum deleniti?</p>
						<a class="btn btn-default" href="single-post.html">Read More</a>
					</div>
					<!-- end Post 02 -->

					<!-- Post 03 -->
					<div class="eachpost">
						<div class="title">
							<div class="centered"><div><h2><a href="single-post.html">Bath, Shampoo &amp; Conditioner</a></h2></div></div>
							<div class="clearfix"></div>
							<p>Agust 28, 2013 <i class="icon-dot"></i> Posted by Storeowner <i class="icon-dot"></i> 1 Comment</p>
						</div>	

						<div class="post-img"><img alt="dog image" src="img/blog/post03.jpg"></div>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, laboriosam, quae, eos illo amet ex hic ad voluptates eius aspernatur quasi aut nostrum unde accusantium repudiandae omnis enim vero adipisci? Distinctio, laboriosam, quae, eos illo amet ex hic ad voluptates eius aspernatur quasi aut nostrum unde accusantium repudiandae omnis enim vero adipisci?</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, odio earum quae maxime fugit quod facere consequatur veniam. Commodi, modi odio totam a doloremque nostrum recusandae nam alias harum deleniti?</p>
						<a class="btn btn-default" href="single-post.html">Read More</a>
					</div>
					<!-- end Post 03 -->

				</div>
				<aside class="col-md-3">

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-12">
							<h3>The Blog</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, aperiam, maxime, vero recusandae laboriosam mollitia maiores quod porro corporis adipisci in fugit doloribus totam suscipit incidunt sequi sed. Aperiam, molestiae!</p>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-12">
							<h3>Popular Articles</h3>
							<div class="recent-news">
								<img alt="//" src="img/blog/recent01.jpg">
								<a href="#">The perfect food</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>
							<div class="recent-news">
								<img alt="//" src="img/blog/recent02.jpg">
								<a href="#">Grooming tips</a>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							</div>
						</div>						
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-12">
							<h3><i class="icon-list"></i> Categories</h3>
							<div class="list-group">
								<a class="list-group-item" href="#">Ask a Veterinarian<i class="icon-right-open pull-right"></i></a>
								<a class="list-group-item" href="#">How To's A-Z<i class="icon-right-open pull-right"></i></a>
								<a class="list-group-item" href="#">Dog food<i class="icon-right-open pull-right"></i></a>
								<a class="list-group-item" href="#">Dog grooming<i class="icon-right-open pull-right"></i></a>
								<a class="list-group-item" href="#">Puppy Suplies<i class="icon-right-open pull-right"></i></a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-12">
							<h3><i class="icon-calendar"></i> Archive</h3>
							<div class="list-group">
								<a class="list-group-item" href="#">January 2013</a>
								<a class="list-group-item" href="#">December 2012</a>
								<a class="list-group-item" href="#">November 2012</a>
								<a class="list-group-item" href="#">October 2012</a>
								<a class="list-group-item" href="#">September 2012</a>
							</div>
						</div>						
					</div>


				</aside>
			</div>

		</div>
	</article>

</section>