<div id="content">
		<section class="updatable" id="gallery">
			
		<!-- begin our cases - quicksand filterable gallery grid -->
		<article class="puppies">
		<div class="container">
			<div class="row">
				<div class="col-xs-12"><h2>Make A Bid</h2></div>
			</div>
			

			<div class="row">
				<div class="col-xs-12">
					<ul class="filters">
						<li class="active" data-filter="all">View All</li>
						<li data-filter="feature">Features</li>
						<li data-filter="male">Males</li>
						<li data-filter="famale">Females</li>
						<li data-filter="top">Top</li>
					</ul>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="grid">
						<ul>
							<li class="male top">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie01.jpg">
									<span class="name">Maltese</span>
								</a>
							</li>
							<li class="famale top">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Beagle</span>
									</div>
									<span class="tag sale"><span>sale</span></span>
									<img alt="//" src="img/puppies/puppie02.jpg">
									<span class="name">Beagle</span>
								</a>
							</li>
							<li class="male feature">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie03.jpg">
									<span class="name">Retriever</span>
								</a>
							</li>
							<li class="male">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie04.jpg">
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li class="male">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie05.jpg">
									<span class="name">Collie</span>
								</a>
							</li>
							<li>
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie06.jpg">
									<span class="name">Maltese</span>
								</a>
							</li>
							<li class="male top">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie07.jpg">
									<span class="name">Beagle</span>
								</a>
							</li>
							<li class="famale top">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie08.jpg">
									<span class="name">Retriever</span>
								</a>
							</li>
							<li class="famale feature">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<span class="tag sold"><span>sold</span></span>
									<img alt="//" src="img/puppies/puppie09.jpg">
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li class="famale">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie10.jpg">
									<span class="name">Collie</span>
								</a>
							</li>
							<li class="famale">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie11.jpg">
									<span class="name">Maltese</span>
								</a>
							</li>
							<li class="male">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<span class="tag sale"><span>sale</span></span>
									<img alt="//" src="img/puppies/puppie12.jpg">
									<span class="name">Beagle</span>
								</a>
							</li>
							<li class="famale top">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie13.jpg">
									<span class="name">Retriever</span>
								</a>
							</li>
							<li class="male">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie15.jpg">
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li class="male featured">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie01.jpg">
									<span class="name">Collie</span>
								</a>
							</li>
							<li class="famale">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie16.jpg">
									<span class="name">Maltese</span>
								</a>
							</li>
							<li class="famale featured">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie17.jpg">
									<span class="name">Beagle</span>
								</a>
							</li>
							<li class="male">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie18.jpg">
									<span class="name">Retriever</span>
								</a>
							</li>
							<li class="famale top">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<span class="tag sold"><span>sold</span></span>
									<img alt="//" src="img/puppies/puppie19.jpg">
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li class="male">
								<a href="single-puppie.html">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span class="price">$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie05.jpg">
									<span class="name">Collie</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			 </div>

			<div class="row">
				<div class="col-md-12">
					<div class="center-pag">
						<div>
							<ul class="pagination">
								<li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="dogs.html">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">»</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>     
		</article>
		<!-- end our Cases gallery grid -->

		</section>

	</div>