<div id="content">
		<section class="updatable" id="gallery">
			
		<!-- begin our cases - quicksand filterable gallery grid -->
		<article class="puppies">
		<div class="container">
			<div class="row">
				<div class="col-xs-12"><h2 data-bind="text: title"></h2></div>
			</div>

		<!--	
			<div class="row">
				<div class="col-xs-12">
					<ul class="filters">
						<li class="active" data-filter="all">View All</li>
						<li data-filter="feature">Features</li>
						<li data-filter="male">Males</li>
						<li data-filter="famale">Females</li>
						<li data-filter="top">Top</li>
					</ul>
				</div>
			</div>
		-->








<div class="row">
<form class="form-horizontal" role="form" style="width: 100%;">
<!-- ko foreach: _columns -->
    <!-- ko if: active  && (name() == 'Description' || name() == 'City' ) -->
    <div class="col-md-6">
	    <div data-bind="attr: { 'data-type' : type, 'data-prop' : prop }, css: { inSort: $parent.sortEnabled() == true , filtered: filtered}">

  <div class="form-group form-group-lg" style="margin-bottom: 0px;">
    <div class="col-sm-12">

    <div class="input-group input-group-sm">
      <input type="text" class="form-control search" placeholder="Search..." data-bind="attr: { 'data-prop' : prop,  placeholder : 'Search cases by ' + name() }, value: value ">
      <span class="input-group-addon searchGo"><span class="glyphicon glyphicon-search"></span></span>
    </div>
    </div>
  </div>

	    </div>
	</div>
    <!-- /ko -->
<!-- /ko -->
</form>
</div>

			<div class="row">
				<div class="col-md-12">
					<ul class="case_list grid_view collection-list list-unstyled"></ul>
				</div>
			 </div>
			 <!--

			<div class="row">
				<div class="col-md-12">
					<div class="center-pag">
						<div>
							<ul class="pagination">
								<li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="dogs.html">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">»</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		-->
		</div>     
		</article>
		<!-- end our Cases gallery grid -->

		</section>

	</div>