	<div class="panel panel-default featured" style="margin-top: 16px;" data-bind="css: { 'panel-default' : CaseStatus() !== 'Closed', 'panel-danger' : CaseStatus() == 'Closed'}">
        <!-- ko if: CaseStatus() == 'Closed'-->
        <div class="panel-heading">This case is Closed.</div>
        <!-- /ko -->
		<div class="panel-body">
			<div class="row">
                <div class="col-md-9">
                    <div class="media">
                        <img data-bind="attr: { src: ImageUrl }" class="pull-left img-rounded thumb" style="max-height: 157px; width: auto;">
                        <div class="media-body">
                            <p data-bind="text: Description"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 vitals" style="padding-right: 15px;">
                    <h4><span class="glyphicon glyphicon-user"></span> Current Bidders</h4>
                    <p>
                        <strong>Winning Bid:</strong> <span data-bind="text: winningBid"></span>
                        <br>
                        <strong>Total Bids:</strong> <span data-bind="text: numberBids"></span>
                        <br>
                        <!-- ko if: app.user.getAccountType() == 'Doctor' -->
                        <strong>My Bid: </strong> <span data-bind="text: $data.myBid"></span>
                        <!-- /ko -->
                    </p>
                    <!-- ko if: app.user.getAccountType() == 'Doctor' && CaseStatus() == 'Open' -->
                    <div class="input-group">
				      <input type="text" class="form-control" data-bind="attr: {placeholder: $data.nextBid}, value: $data.nextBid">
				      <span class="input-group-btn">
                        <!-- ko if: $data.myBid && $data.myBid() != 'N/A' -->
                        <button class="btn btn-success js_updateBid" type="button">Update Bid!</button>
                        <!-- /ko -->
                        <!-- ko if: $data.myBid && $data.myBid() == 'N/A' -->
                        <button class="btn btn-success js_bid" type="button">Bid!</button>
                        <!-- /ko -->
				      </span>
				    </div><!-- /input-group -->
                    <!-- /ko -->

                    <!-- ko if: app.user.getAccountType() == 'Patient' -->
				    <div class="input-group" stle="display: none;">
				        <button class="btn btn-success js_viewBids" type="button">View Bids</button>
				    </div><!-- /input-group -->
                    <!-- /ko -->
                </div>
            </div>
            <!-- ko if : app.user.getAccountType() == 'Patient'  -->
            <div class="row viewBids noDisplay" style="margin-top:15px;">
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin-bottom: 0px;">
                        <div class="panel-heading">Case Bids</div>
                        <ul data-bind="foreach: Doctors" class="list-group" style="margin-top: 0px;">
                            <li class="list-group-item" data-bind="if: Bid">
                                <div >
                                <h5>
                                    <span data-bind="if: WinningBid " class="label label-success">Winner!</span>
                                    <span data-bind="text: PracticeName"></span>&nbsp;
                                    <!-- ko foreach: new Array(parseInt(Rating())) -->
                                        <span class="glyphicon glyphicon-star"></span>
                                    <!-- /ko -->
                                    <div class="pull-right" >
                                        <span>$<span data-bind="text: Bid"></span></span>&nbsp;
                                        <!-- ko if: $parent.CaseStatus() == 'Open' -->
                                        <span class="btn btn-primary btn-sm" data-bind="click: acceptBid">Accept Bid</span>
                                        <!-- /ko -->
                                    </div>
                                </div>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div class="panel-footer">
                        <span class="glyphicon glyphicon-th"></span>&nbsp;
                        <span>Expires:</span>
                        <span data-bind="text: Expiration"></span> &nbsp;|&nbsp;
                        <!-- ko if: loggedIn -->
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                        <span data-bind="text: PatientEmail"></span> &nbsp;|&nbsp;
                        <!-- /ko -->
                        <!-- ko if: City -->
                        <span class="glyphicon glyphicon-globe"></span> <span data-bind="text: City"></span>
                        <!-- /ko -->
        </div>
    </div>
