<div id="content">
	<section>
		
		<!-- begin Discounts -->
		<article class="coupons">
			<div class="container">
				<header><h2>Discounts</h2></header>
				
				<div class="row">
					<div class="title">
						<div class="centered"><div><h2>Online Discounts</h2></div></div>
						<p>We offer all of our customers online discounts for doctors that you can only find online on PetBidClinic. Check back daily for news deals!</p>
						<hr>
					</div>
				</div>

				<div class="row coupon">
					<div class="col-sm-4">
						<img alt="//" src="img/coupons/coupon02.jpg">
					</div>
					<div class="col-sm-7">
						<span class="expires">expires: 3/31/14</span>
						<h3>Plush Cotton Dog Bed</h3>
						<span class="free">free</span>
						<p>for pets ejoyment. Our facility was designed to offer your pet the most exclusive and unique experience, a perfect alternative to a caged</p>
						<a class="btn btn-default" href="#">Print Code</a>
					</div>
				</div>

				<div class="row coupon">
					<div class="col-sm-4">
						<img alt="//" src="img/coupons/coupon03.jpg">
					</div>
					<div class="col-sm-7">
						<span class="expires">expires: 4/11/2014</span>
						<h3>Gaint Play for Puppies</h3>
						<span class="oldnumber">79.95</span><span class="newnumber">$59.95</span>
						<p>Get a gain play create that youwill surelu love!. This crate is equipped whit a water dispenser, silly paper, and a docking pot.</p>
						<a class="btn btn-default" href="#">Print Code</a>
					</div>
				</div>

				<div class="row coupon">
					<div class="col-sm-4">
						<img alt="//" src="img/coupons/coupon04.jpg">
					</div>
					<div class="col-sm-7">
						<span class="expires">expires: 4/11/2014</span>
						<h3>Bath, Shampoo &amp; Conditione</h3>
						<span class="newnumber">Extra Small Dog $40 to $45</span>
						<p>Get a gain play create that youwill surelu love!. This crate is equipped whit a water dispenser, silly paper, and a docking pot.</p>
						<a class="btn btn-default" href="#">Print Code</a>
					</div>
				</div>


				<div class="row">
					<div class="col-xs-12">
						<p><strong class="highlight">How to reedem your coupon:</strong> To reedem your coupon out by clicking  the print code button and bring the printed coupon to us before the explanation date. That's it!</p>
					</div>

				</div>    

			</div>  
		</article>
		<!-- end Discounts -->

	</section>

</div>