<div>
	<section>
		
		<!-- Featured -->
		<article class="services">
			<div class="container">
				<header><h2>Featured</h2></header>
				<div class="row">
					<div class="title">
						<div class="centered"><div><h2>Full Service Puppie Boutique</h2></div></div>
						<p>We offer a range of services for pet gooming to full room and boarding for your dog. Below are some of the services we provide.</p>
						<hr>
					</div>
				</div>

				<div class="row service">
					<div class="col-md-7">
						<h2>Bath &amp; Grooming</h2>
						<p>From a standard bath to a full-service groom, we offer a variety of dog <strong class="highlight">grooming services</strong> that are just right for your puppy or dog.</p>
						<p>Firt choose, a Dog Bath or Dog Groom Package, then personalize the rest to fit your needs!</p>
						<a href="#">→ View Pricing Table</a>
					</div>
					<div class="col-md-5">
						<img alt="//" src="img/services/services01.jpg">
					</div>
				</div>

				<div class="row service">
					<div class="col-md-12 visible-xs visible-sm">
						<h2>Kennel &amp; Boarding</h2>
					</div>
					<div class="col-md-5"><img alt="//" src="img/services/services02.jpg"></div>
					<div class="col-md-7">
						<h2 class="visible-md visible-lg">Kennel &amp; Boarding</h2>
						<p>Our high-end luxury <strong class="highlight">Doggie Suites</strong> are all equipped with flat screen for your pet's enjoyment. Our facility was designed to offer you pet the most exclusive and unique experience, a perfect alternative to a caged boarding kennel.</p>
						<a href="#">→ View Pricing Table</a>
					</div>
				</div>

				<div class="row service">
					<div class="col-md-7">
						<h2>Doggie Beds</h2>
						<p>We sell some of the higets quality, name brand doggie beds. We offer a huge selection of some of the finest doggie beds you'll find anywere. You'll be sure to find the perfect bed for your pup!</p>
						<p>Our high-end luxury <strong class="highlight">Doggie Suites</strong> are all equipped with flat screen for your pet's enjoyment. Our facility was designed to offer you pet the most exclusive and unique experience, a perfect alternative to a caged boarding kennel.</p>
						<a href="#">→ View Pricing Table</a>
					</div>
					<div class="col-md-5">
						<img alt="//" src="img/services/services03.jpg">
					</div>
				</div>
			</div>
		</article>
		<!-- end Featured -->

	</section>

</div>