<section>
	<article class="container">

		<div class="row">
			<div class="col-xs-12">
				<header><h2 class="pagetitle">Membership Pricing</h2></header>
			</div>
		</div>
        
		<div class="row">
			<div class="col-xs-12">

				<div class="pricing-tables-main">
					
					<!-- Column -->
					<div class="pricing-tables three">
						<div class="title">Customer Membership Packages</div>
						<div class="price">$3.99 <i>/ per month</i></div>
						<div class="cont-list">
						<ul>
						<li>Ear hair removal</li>
						<li>Bathing</li>
						<li>Ear hair removal</li>
						<li>Brushing</li>
						<li>Nail trimming</li>
						<li>Ear cleaning</li>
						<li class="last">Brushing</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

					<!-- Column -->
					<div class="pricing-tables-helight middle">
						<div class="title">Standard</div>
						<div class="price">$9.99 <i>/ per month</i></div>
						<div class="cont-list">
						<ul>
						<li>Ear hair removal</li>
						<li>Sanitary Shaving</li>
						<li>Brushing</li>
						<li>Ear cleaning</li>
						<li>Nail trimming </li>
						<li>Ear cleaning</li>
						<li class="last">Bathing</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

					<!-- Column -->
					<div class="pricing-tables three">
						<div class="title">Professional</div>
						<div class="price">$18.99 <i>/ per month</i></div>
						<div class="cont-list">
						<ul>
						<li>Nail trimming</li>
						<li>Ear cleaning</li>
						<li>Ear hair removal</li>
						<li>Trimming between toe pads</li>
						<li>Brushing</li>
						<li>Sanitary Shaving</li>
						<li class="last">Bathing</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

				</div>	
			</div>	
		</div>
		<!-- end Table2 row  -->			


	</article>
</section>