<section id="spuppie">
	
	<!-- begin Our Puppies -->
	<article>
	<div class="container">

		<div class="row">
			<div class="col-xs-12"><h2 class="header">Puppies for Sale</h2></div>
		</div>

		<div class="row">
			<div class="title">
				<div class="centered"><div><h2>Teacup Yorkshire Terrier</h2></div></div>
				<p>Agust 28, 2013</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div data-interval="false" data-ride="carousel" class="carousel slide" id="carousel-puppie">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item">
							<img alt="//" src="img/spuppie/spuppie01.jpg">
						</div>
						<div class="item">
							<img alt="//" src="img/spuppie/spuppie02.jpg">
						</div>
						<div class="item">
							<img alt="//" src="img/spuppie/spuppie03.jpg">
						</div>
						<div class="item active">
							<img alt="//" src="img/spuppie/spuppie04.jpg">
						</div>
						<div class="item">
							<img alt="//" src="img/spuppie/spuppie05.jpg">
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-12">
					
				<p><strong>This takeup yorkie</strong> is playful, outgoing, happie and great for kids of all ages. She's in perfect health and is looking for a good home!</p>
				<ul class="features">
					<li><strong>Breed:</strong>Teacup Yorkshire Terrier</li>
					<li><strong>DOB:</strong>10/27/12</li>
					<li><strong>Gender:</strong>Famale</li>
					<li><strong>Papers:</strong>Yes</li>
					<li><strong>Vaccinations:</strong>Yes</li>
					<li><strong>Price:</strong><span class="price">$1195</span></li>
				</ul>
				
				</div>
				<div class="col-xs-12 col-sm-6 col-md-12">

				<div data-interval="false" data-ride="carousel" class="carousel slide" id="carousel-thumb-puppie">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item">
						<ol>
							<li class="active thumb" data-slide-to="0" data-target="#carousel-puppie"><img alt="//" src="img/spuppie/spuppie01.jpg"></li>
							<li class="thumb" data-slide-to="1" data-target="#carousel-puppie"><img alt="//" src="img/spuppie/spuppie02.jpg"></li>
							<li class="thumb" data-slide-to="2" data-target="#carousel-puppie"><img alt="//" src="img/spuppie/spuppie03.jpg"></li>
						</ol>
					</div>
					<div class="item active">
						<ol>
							<li class="active thumb" data-slide-to="3" data-target="#carousel-puppie"><img alt="//" src="img/spuppie/spuppie04.jpg"></li>
							<li class="thumb" data-slide-to="4" data-target="#carousel-puppie"><img alt="//" src="img/spuppie/spuppie05.jpg"></li>
						</ol>
					</div>
				</div>

				<!-- Controls -->
				<div class="controls">
					<a data-slide="prev" href="#carousel-thumb-puppie" class="left carousel-control">
						<i class="icon-left-open"></i>
					</a>
					<span class="more-img">view more images</span>
					<a data-slide="next" href="#carousel-thumb-puppie" class="right carousel-control">
						<i class="icon-right-open"></i>
					</a>
				</div>
				</div>

				</div>
				</div>
				
			</div>
		 </div>
	</div>
	</article>


	<article>
		<div class="container">
			<div class="row">
				<div class="col-xs-12"><h2 class="header">More Puppies</h2></div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="grid">
						<ul class="">
							<li>
								<a href="#">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span>$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie01.jpg">
									<span class="name">Maltese</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span>$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Beagle</span>
									</div>
									<span class="tag sale"><span>sale</span></span>
									<img alt="//" src="img/puppies/puppie02.jpg">
									<span class="name">Beagle</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span>$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie03.jpg">
									<span class="name">Retriever</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span>$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie04.jpg">
									<span class="name">Pinscher</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="more">
										<i class="icon-search pull-right"></i>
										<span>$2100</span>
										<span class="wks">9 Wks F</span>
										<span class="txt">Maltese</span>
									</div>
									<img alt="//" src="img/puppies/puppie05.jpg">
									<span class="name">Collie</span>
								</a>
							</li>
							
						</ul>
					</div>
				</div>
			 </div>
		</div>
	</article>
	<!-- end Our Puppies -->

</section>