<section>
	<article class="container">

		<div class="row">
			<div class="col-xs-12">
				<header><h2 class="pagetitle">Doctor Pricing</h2></header>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">

				<div class="pricing-tables-main">
					
					<!-- Column -->
					<div class="pricing-tables">
						<div class="title">extra small dogs</div>
						<div class="price">$19.99 <i>/ package</i></div>
						<div class="cont-list">
						<ul>
						<li>Nail trimming</li>
						<li>Ear hair removal</li>
						<li>10 Databases</li>
						<li>Free Ad Credits</li>
						<li>Ear hair removal</li>
						<li>Nail trimming</li>
						<li class="last">100 Email Addresses</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

					<!-- Column -->
					<div class="pricing-tables-helight">
						<div class="title">Small Dogs</div>
						<div class="price">$29.99 <i>/ package</i></div>
						<div class="cont-list">
						<ul>
						<li>Ear cleaning</li>
						<li>Skin health assessments</li>
						<li>Ear hair removal</li>
						<li>Bathing</li>
						<li>Teeth brushed </li>
						<li>Nail trimming</li>
						<li class="last">Skin health assessments</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

					<!-- Column -->
					<div class="pricing-tables">
						<div class="title">Middle Dogs</div>
						<div class="price">$49.99 <i>/ package</i></div>
						<div class="cont-list">
						<ul>
						<li>Deluxe Bath</li>
						<li>Unlimited Space</li>
						<li>Teeth brushed</li>
						<li>Ear cleaning</li>
						<li>Nail trimming</li>
						<li>Ear hair removal</li>
						<li class="last">&nbsp; Unlimited &nbsp;&nbsp; Emails &nbsp;</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

					<!-- Column -->
					<div class="pricing-tables">
						<div class="title">Big Dogs</div>
						<div class="price">$69.99 <i>/ package</i></div>
						<div class="cont-list">
						<ul>
						<li>Deluxe Bath</li>
						<li>Nail trimming</li>
						<li>Ear hair removal</li>
						<li>Free Ad Credits</li>
						<li>Ear cleaning</li>
						<li>Ear hair removal</li>
						<li class="last">Teeth brushed</li>
						</ul>
						</div>
						<div class="ordernow"><a href="#" class="btn btn-default">Order Now</a></div>
					</div>
					<!-- end Column -->

				</div>	
			</div>	
		</div>
		<!-- end Table1 row  -->	

	</article>
</section>