<!-- begin Our Reputation -->
            <article class="reputation">
                <div class="container">
                    <header>
                        <h2>Our Reputation</h2>
                    </header>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="carousel-reputation" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="img/reputation/reputation01.jpg" alt="//" class="img-circle">
                                        <p>"They have the best prices for our puppies in our town.. Hands down!"</p>
                                        <span>California, United States</span>
                                    </div>
                                    <div class="item">
                                        <img src="img/reputation/reputation02.jpg" alt="//" class="img-circle">
                                        <p>"They have the best prices for our kittens in our town.. Hands down!"</p>
                                        <span>Texas, United States</span>
                                    </div>
                                    <div class="item">
                                        <img src="img/reputation/reputation03.jpg" alt="//" class="img-circle">
                                        <p>"They have the best prices for our birds in our town.. Hands down!"</p>
                                        <span>Florida, United States</span>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-reputation" data-slide="prev">
                                    <i class="icon-left-open"></i>
                                </a>
                                <a class="right carousel-control" href="#carousel-reputation" data-slide="next">
                                    <i class="icon-right-open"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
            <!-- end Our Reputation -->