<form role="form">

	<div class="form-group">
	    <label for="Description">Old Password</label>
	    <input type="text" name="password" class="form-control" id="Description" placeholder="Enter Email" data-bind="value: password">
	</div>

	<div class="form-group">
	    <label for="ImageUrl">New Password</label>
	    <input type="text" id="newPassword" name="newPassword" class="form-control" id="ImageUrl" placeholder="Enter New Password " data-bind="value: newPassword">
	</div>

	<div class="form-group">
	    <label for="ImageUrl">Confirm New Password</label>
	    <input type="text" name="newPasswordConfirm"  class="form-control" id="ImageUrl" placeholder="Confirm New Password" data-bind="value: newPasswordConfirm">
	</div>

</form>
