<style type="text/css">
body { 
  background: url(/img/slider/SickPupBkg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="container">
    <div class="row step_1">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel">
                <div class="panel-heading panel-purple">
                    <span class="glyphicon glyphicon-home"></span> Register now to get started!</div>

                    <form class="form-horizontal" role="form" name="register_now">
                <div class="panel-body register_step_1">
                    <div class="form-group">                      
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                            <input type="text"  name="Email" class="form-control" placeholder="Your Email Address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zipcode</label>
                        <div class="col-sm-9">
                            <input type="text"  name="Zipcode"  class="form-control" placeholder="Your Zipcode" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                          <input type="radio" name="AccountType"  value="Patient" checked> Pet Parent
                        </label>
                        <label class="checkbox-inline">
                          <input type="radio" name="AccountType"  value="Doctor" checked> Veterinarian
                        </label>
                        <label class="checkbox-inline">
                          <input type="radio" name="AccountType"  value="Doctor"> Service Provider
                        </label>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-8 col-sm-2">
                            <span class="btn btn-primary loginButton js-checkEmail">
                                <span class="glyphicon glyphicon-ok"></span> Continue
                            </span>
                        </div>
                    </div>
                </div>

                <div class="panel-body register_step_2 hidden">
                    <div class="form-group">                      
                        <label class="col-sm-3 control-label">First</label>
                        <div class="col-sm-9">
                            <input type="text" name="FirstName" class="form-control" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last</label>
                        <div class="col-sm-9">
                            <input type="text" name="LastName" class="form-control" placeholder="Last Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Practice</label>
                        <div class="col-sm-9">
                            <input type="text"  name="PracticeName" class="form-control" placeholder="Practice Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <input type="text" name="Website" class="form-control" placeholder="Website" required />
                        </div>
                    </div>

                    <div class="form-group last">
                        <div class="col-sm-offset-8 col-sm-2">
                            <span class="btn btn-primary loginButton js-continue">
                                <span class="glyphicon glyphicon-ok"></span> Continue
                            </span>
                        </div>
                    </div>
                </div>

                <div class="panel-body register_step_3 hidden">
                    <div class="form-group">                      
                        <label class="col-sm-3 control-label">Payment Method</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="PaymentMethod">
                              <option>Visa</option>
                              <option>MasterCard</option>
                              <option>Discover</option>
                              <option>Amex</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Credit Card Number</label>
                        <div class="col-sm-9">
                            <input type="text" name="CreditCardNumber" class="form-control" placeholder="Your Card Number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Credit Card CCV</label>
                        <div class="col-sm-9">
                            <input type="text" name="CreditCardCCV" class="form-control" placeholder="Your Card CCV" required>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Expiration Date</label>
                        <div class="col-sm-9">
                            <input type="text" name="CreditCardExpiration" class="form-control" placeholder="Expiration Date" required>
                        </div>
                    </div>
                    

                    <div class="form-group last">
                        <div class="col-sm-offset-8 col-sm-2">
                            <span class="btn btn-primary loginButton js-register">
                                <span class="glyphicon glyphicon-ok"></span> Register Now
                            </span>
                        </div>
                    </div>
                        <input type="submit" class="concealed" value="Go"/>
                </div>
                    </form>



                <div class="panel-footer">
                    <p class="text-right">
                        <a href="patient/login" class="link">Have an account? Sign In.</a>
                    </p>
            </div>
        </div>
    </div>
    <div class="row step_2">
    </div>
</div>
