<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="form-title">Register now!</h1>
            <p>If you are a pet owner or a pet care provider...</p>
            <form class="form-horizontal bannerForm" role="form" name="register_now">

                <div class=" register_step_1">
                    <div class="form-group">                      
                        <div class="col-md-12">
                            <input type="text"  name="Email" class="form-control" placeholder="Enter your email address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text"  name="City"  class="form-control" placeholder="Enter your City" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <select class="form-control" name="AccountType">
                                <option>Please choose an account type</option>
                                <option value="Patient">Pet Owner</option>
                                <option value="Doctor">Veterinarian</option>
                                <option value="Doctor">Service Provider</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-md-12">
                            <span class="btn btn-primary pull-right loginButton js-checkEmail">
                                <span class="glyphicon glyphicon-ok"></span> Continue
                            </span>
                        </div>
                    </div>
                </div>

                <div class="register_step_2 hidden">
                    <div class="form-group">                      
                        <div class="col-md-12">
                            <input type="text" name="FirstName" class="form-control" placeholder="First Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="LastName" class="form-control" placeholder="Last Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text"  name="PracticeName" class="form-control" placeholder="Business Name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <select name="ProviderType" class="form-control" required>
                                <option>Service Provided?</option>
                                <option value="Veterinarian">Veterinarian</option>
                                <option value="Trainer">Trainer</option>
                                <option value="Sitter">Sitter</option>
                                <option value="Groomer">Groomer</option>
                                <option value="Dog Walker">Dog Walker</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="Website" class="form-control" placeholder="Website" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="Phone" class="form-control" placeholder="Phone Number" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" name="VetLicenseNumber" class="form-control" placeholder="License Number" required />
                        </div>
                    </div>


                    <div class="form-group last">
                        <div class="col-md-12">
                            <span class="btn pull-right btn-primary loginButton js-register">
                                <span class="glyphicon glyphicon-ok"></span> Register Now
                            </span>
                        </div>
                    </div>
                </div>

                        <input type="submit" class="concealed" value="Go"/>
                
            </form>
        </div>
    </div>
</div>



